body {
scrollbar-face-color:#F8F8F8;
scrollbar-highlight-color: #F8F8F8;
scrollbar-3dlight-color: #F8F8F8;
scrollbar-shadow-color: #C5C5C5;
scrollbar-darkshadow-color:  #C5C5C5;
scrollbar-track-color:  #E5E5E5;
scrollbar-arrow-color: #C5C5C5}

A:link {text-decoration:none; color: #999999}
A:visited {text-decoration:none; color: #999999}
A:active {text-decoration:none; color: #999999}
a.linkover:hover {position:relative; top:1; left:1; text-decoration:none; color:#529CFF}

.base{position:relative; top:0; left:0}
.over{position:relative; top:1; left:1}.grayline {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E8E8E8;
	border-right-color: #E8E8E8;
	border-bottom-color: #E8E8E8;
	border-left-color: #E8E8E8;
	height: 2px;

}
.grayfont {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #6D6D6D;
}
.input {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #333333;
	background-color: #FAFAFA;
	border: 1px solid #D4D4D4;
}
.grayfont2 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #999999;
}
.searchinput {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	background-color: #84D0F6;
	border: 2px solid #84D0F6;
}
.effectover {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #5E90A4;
}
.effectno {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
