<?xml version="1.0" encoding="UTF-8"?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemalocation="http://java.sun.com/xml/ns/j2ee
						web-jsptaglibary_2_0.xsd" version="2.0">
<description>EL에서 함수실행</description>
<tlib-version>1.0</tlib-version>
<short-name>ELfunctions</short-name>
<uri>/Elfunctions</uri>
	<function>
		<description>줄바꿈처리</description>
		<name>lineBreak</name>
		<function-class>
			exam_181109.util.SqlMark
		</function-class>
		<function-signature>
			java.lang.String lineBreak(java.lang.String)
		</function-signature>
	</function>
	
	<function>
		<description>문자열 길이체크</description>
		<name>cutStr</name>
		<function-class>
			exam_181109.util.StrCut
		</function-class>
		<function-signature>
			java.lang.String cutStr(int, java.lang.String)
		</function-signature>
	</function>
	<function>
		<description>페이지스킵처리</description>
		<name>pageList</name>
		<function-class>
			exam_181109.util.PgIndex
		</function-class>
		<function-signature>
			java.lang.String pageList(int,int, java.lang.String,java.lang.String)
		</function-signature>
	</function>					
						
</taglib>				